.brand-image {
  height: 30px;
}

.bread h1 {
  color: white;
  font-size: 1.5rem;
}

.thstyle {
  width: 1% !important;
  white-space: nowrap !important;
}

.ck-content {
  min-height: 200px;
}

.wp-block-image img {
  width: 100% !important;
  height: auto !important;
}

.sidebar-dropdown .sidebar-dropdown .sidebar-link {
  padding: .625rem 1.5rem .625rem 4.5rem;
}

.sidebar-link {
  font-size: 9pt;
}

.assessment-negative {
  color: var(--red);
}

.assessment-negative::before {
  content: '-';
  margin-right: 5px;
}

.assessment-positive {
  color: var(--green);
}

.assessment-positive::before {
  content: '+';
  margin-right: 5px;
}

.wp-block-image img {
  width: 100% !important;
  height: auto !important;
}

.btn-sm i {
  padding: 0 !important;
  font-size: 15px !important;
}

.modal .modal-header .close span {
  display: block !important;
}

td.shrink, th.shrink {
  width: 0.1%;
  white-space: nowrap;
}

table thead th {
  vertical-align: middle !important;
}

.price-calculator {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;

  div {
    h2 {
      color: red;
    }
  }
}

body.swal2-height-auto {
  height: inherit !important;
}

.DateInput__small {
  width: 130px !important;
}

.menu-item-open .menu-inner {
  display: block !important;
}


.sidebar-dropdown .sidebar-dropdown .sidebar-link {
  padding: .625rem 1.5rem .625rem 4.5rem;
}

.sidebar-link {
  font-size: 9pt;
}

.assessment-negative {
  color: var(--red);
}

.assessment-negative::before {
  content: '-';
  margin-right: 5px;
}

.assessment-positive {
  color: var(--green);
}

.assessment-positive::before {
  content: '+';
  margin-right: 5px;
}

.btn-sm i {
  padding: 0 !important;
  font-size: 15px !important;
}

.modal .modal-header .close span {
  display: block !important;
}


body.swal2-height-auto {
  height: inherit !important;
}


.example-highlight > pre {
  background: none transparent !important;
  margin: 0 !important;
  padding-top: 0.5rem;

  code {
    overflow-y: auto;
    display: block;

    span {
      background: none transparent !important;
    }
  }
}

.json > pre {
  background: none #fff !important;

}

.example-code > .json {
  background: none #fff !important;
}

.symbol.symbol-45 > svg {
  width: 100%;
  max-width: 45px;
  height: 45px;
}


.table > tbody > tr > td {
  vertical-align: middle;
}

.kt-portlet__head-label {
  flex-grow: 1;

  > .row {
    flex-grow: 1;
    margin: 0;
  }
}

.DateRangePickerInput__withBorder {
  padding: 2px;
  text-align: center;
}


.header-menu .menu-nav > .menu-item .menu-submenu > .menu-subnav .menu-content > .menu-item {
  width: 200px;
}

.settings-icons {
  background: #fff;
  color: #000;
  position: fixed;
  top: 200px;
  right: 0;
  width: 50px;
  padding: .5rem;
  border-top-left-radius: .2rem;
  border-bottom-left-radius: .2rem;
  box-shadow: -5px 0 10px 0 rgba(0, 0, 0, .1);
  transition: all .1s ease-in-out;
  cursor: pointer;

  .settings-icon:first-child {
    color: #2264c3;
    margin-bottom: .5rem;
  }

  .settings-icon {
    text-align: center;
    padding: .5rem;
    border-radius: .2rem;
    background: #f2f4f6;
    color: #000;
    display: block;
  }
}

.settings.open .settings-panel {
  right: 0;
}

.settings-panel {
  background: #fff;
  border-left: 0 solid transparent;
  display: block;
  height: 100%;
  position: fixed;
  width: 260px;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: -260px;
  transition: right .2s ease-in-out;
}

.settings-content {
  height: 100%;
  overflow: auto;
  position: relative;
  background: #fff;
}

.settings-title {
  padding: 1.35rem 1.5rem;
  font-size: .875rem;
  background: #121923;
}

.settings-options {
  padding: 1rem 1.5rem;
}


.back-btn-shown {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: black;
  border: 1px solid white;
  box-shadow: 0 10px 30px rgba(82, 85, 90, 0.2);
  color: white;
  text-align: center;
  cursor: pointer;
  line-height: 25px;
  font-size: 20px;

  span {
    display: none;
  }

  &:hover {
    span {
      position: absolute;
      top: 0;
      right: 35px;
      width: 74px;
      margin-left: -37px;
      display: block;
      background-color: black;
      color: white;
      font-size: 12px;
      border: 1px solid black;
      box-shadow: 0 10px 40px rgba(82, 85, 90, 0.2);

    }
  }
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.custom-control {
  z-index: inherit !important;
}
